*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}
.video-container{
    position: relative;
    width: 100%;
    height: 800px;
}
.VD{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54,118,186,0.4);
}

.Hero h1{
    position: fixed;
    font-size: 90px;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    top: 60%;
    left: 33%;
    bottom: 70%;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
  

}
.Hero h2{
    position: fixed;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    top: 43%;
    left: 34%;
    bottom: 70%;
    color: #ffffff;
    text-align: center;
    font-weight: 80;
    letter-spacing: 2px;
    
}
.btn{
    position: absolute;
    bottom: 35%;
    left: 38%;
    background-color:#0693E3;
    color:#FFFFFF;
    padding: 15px;
    border: none;
    font-size: 22px;
     font-family: "Montserrat", sans-serif;
     letter-spacing: 2px;
     cursor: pointer;
    
}