*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: green;
    height: 60px;
    width: 100%;
    
}

.navbar a{
    text-decoration: none;
    color: white;
}