*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    
}
.video-container{
    position: relative;
    width: 100%;
    height: 800px;
}
.VD{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54,118,186,0.4);
}

.Hero {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Hero-content h2 {
    position: absolute;
    top: 30%;
    left: 2%;
    font-size: 76px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #FFFFFF;
    height: 600px;
    width: 100%;
}

.Hero-content h1 {
    position: absolute;
    font-size: 60px;
    top: 38%;
    left: 2%;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: #FFFFFF;
    height: 600px;
    width: 100%;
}

.btn {
    background-color: #0693E3;
    color: #FFFFFF;
    padding: 15px ;
    margin: 0;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    position: absolute;
    bottom: 35%;

    
}
.ChiffreC{
    background-color: #0693E3;
    height: 800px;
    width: 100%;
}
.title{
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    padding: 60px;
}
.circles-container{
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: center;
    
}
.circle1{
    background-color: transparent;
    height:300px;
    width: 300px;
    border-radius: 400%;
    border: 5px solid #FFFFFF
}
.circle2 {
    background-color:transparent;
    height:300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid #FFFFFF
}
.circle3{
    background-color:transparent;
    height:300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid #FFFFFF
}
.circle4{
    background-color: transparent;
    height:300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid #FFFFFF
}
.circle5 {
    background-color: transparent;
    height:300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid #FFFFFF
}
.circle6 {
    background-color:transparent;
    height:300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid #FFFFFF
}

.cnt1-ti{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
   
    
    
}
.cnt1-te{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    
}
.cnt2-ti{
    
}
