* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;

}

.video-container {
    position: relative;
    width: 100%;
    height: 800px;
}

.VD {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 118, 186, 0.4);
}

.Hero {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Hero-content h2 {
    position: absolute;
    top: 30%;
    left: 2%;
    font-size: 76px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #FFFFFF;
    height: 600px;
    width: 100%;
}

.Hero-content h1 {
    position: absolute;
    font-size: 60px;
    top: 38%;
    left: 2%;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: #FFFFFF;
    height: 600px;
    width: 100%;
}

.btn {
    background-color: #0693E3;
    color: #FFFFFF;
    padding: 15px;
    margin: 0;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    position: absolute;
    bottom: 35%;
    border: #0693E3;
    

}

.mazine-container {
    height: 1000px;
    width: 100%;
    z-index: 5;
    background-color: transparent;
}

.ChifC {
    background-image: url(/ChiffreC.jpg);
    height: 300%;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    


}

.title {
    position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 60px;
    z-index: 5;
    font-family: Metropolis, sans-serif;

}

.circles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    z-index: 5;
    height: 50px;

}

.overlay1 {
    background-color:rgba(76, 147, 250, 0.8);
    position: absolute;
    height: 851px;
    width: 100%;
    z-index: 5;
}

.circle1 {
    background-color: transparent;
    height: 300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid white;
    z-index: 10;

}

.circle2 {
    background-color: transparent;
    height: 300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid white;
    z-index: 10;
}

.circle3 {
    background-color: transparent;
    height: 300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid white;
    z-index: 10;
}

.circle4 {
    background-color: transparent;
    height: 300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid white;
    z-index: 10;
}

.circle5 {
    background-color: transparent;
    height: 300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid white;
    z-index: 10;
}

.circle6 {
    background-color: transparent;
    height: 300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid white;
    z-index: 10;
}

.cnt1-ti {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 60px;
    font-family: Arvo, sans-serif;


}

.cnt1-te {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 19px;
    font-family: Arvo, sans-serif;

}

.cnt2-ti {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 60px;
    font-family: Arvo, sans-serif;
}

.cnt2-te {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 19px;
    font-family: Arvo, sans-serif;
}

.cnt3-ti {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 60px;
    font-family: Arvo, sans-serif;
}

.cnt3-te {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 19px;
    font-family: Arvo, sans-serif;
}

.prctg3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 13%;
    left: 40px;
    font-size: 19px;
    font-family: Arvo, sans-serif;

}

.cnt4-ti {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 60px;
    font-family: Arvo, sans-serif;
}

.cnt4-te {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 19px;
    font-family: Arvo, sans-serif;
}

.prctg4 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 13%;
    left: 40px;
    font-size: 19px;
    font-family: Arvo, sans-serif;
}

.cnt5-ti {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 60px;
    font-family: Arvo, sans-serif;
}

.cnt5-te {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 19px;
    font-family: Arvo, sans-serif;
}

.cnt6-ti {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 60px;
    font-family: Arvo, sans-serif;
}

.cnt6-te {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 19px;
}

.prctg6 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 13%;
    left: 40px;
    font-size: 19px;
}
.img-offreservices{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.img-offreservices img {
    width: 100%;
    height: 500px;
    display: block;
    
}
.square{
    height: 60px;
    width: 60px;
    background-color:#008AC9;
    position: relative;
    left: 48%;
    rotate: 46deg;  
    bottom: 30px;


}
.titre-offre h1{
    position: relative;
   bottom:  500px;
   left: 250px;
   color: #FFFFFF;
   font-size: 50px;
   font-family: Metropolis, sans-serif; 
   font-weight: 500;
   
   
}