* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    height: 800px;
}

.VD {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 118, 186, 0.4);
}

.Hero {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Hero-content h2 {
    position: absolute;
    top: 30%;
    left: 2%;
    font-size: 76px;
    margin-bottom: 10px;
    font-weight: 300;
    color: #FFFFFF;
    height: 600px;
    width: 100%;
}

.Hero-content h1 {
    position: absolute;
    font-size: 60px;
    top: 38%;
    left: 2%;
    letter-spacing: 2px;
    margin-bottom: 40px;
    color: #FFFFFF;
    height: 600px;
    width: 100%;
}

.btn {
    background-color: #0693E3;
    color: #FFFFFF;
    padding: 15px;
    margin: 0;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    position: absolute;
    bottom: 35%;
    border: #0693E3;
}

.mazine-container {
    height: 1000px;
    width: 100%;
    z-index: 5;
    background-color: transparent;
}

.chiffre-container {
    background-image: url(/ChiffreC.jpg);
    height: 100vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title {
    position: relative;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 60px;
    z-index: 5;
    font-family: Metropolis, sans-serif;
}

.circles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    z-index: 5;
    height: 50px;
}

.overlay1 {
    background-color: rgba(76, 147, 250, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.circle1 {
    background-color: transparent;
    height: 300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid white;
    z-index: 10;
}

.circle2 {
    background-color: transparent;
    height: 300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid white;
    z-index: 10;
}

.circle3 {
    background-color: transparent;
    height: 300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid white;
    z-index: 10;
}

.circle4 {
    background-color: transparent;
    height: 300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid white;
    z-index: 10;
}

.circle5 {
    background-color: transparent;
    height: 300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid white;
    z-index: 10;
}

.circle6 {
    background-color: transparent;
    height: 300px;
    width: 300px;
    border-radius: 400px;
    border: 5px solid white;
    z-index: 10;
}

.cnt1-ti {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 60px;
    font-family: Arvo, sans-serif;
}

.cnt1-te {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 19px;
    font-family: Arvo, sans-serif;
}

.cnt2-ti {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 60px;
    font-family: Arvo, sans-serif;
}

.cnt2-te {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 19px;
    font-family: Arvo, sans-serif;
}

.cnt3-ti {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 60px;
    font-family: Arvo, sans-serif;
}

.cnt3-te {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 19px;
    font-family: Arvo, sans-serif;
}

.prctg3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 13%;
    left: 40px;
    font-size: 19px;
    font-family: Arvo, sans-serif;
}

.cnt4-ti {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 60px;
    font-family: Arvo, sans-serif;
}

.cnt4-te {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 19px;
    font-family: Arvo, sans-serif;
}

.prctg4 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 13%;
    left: 40px;
    font-size: 19px;
    font-family: Arvo, sans-serif;
}

.cnt5-ti {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 60px;
    font-family: Arvo, sans-serif;
}

.cnt5-te {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 19px;
    font-family: Arvo, sans-serif;
}

.cnt6-ti {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 60px;
    font-family: Arvo, sans-serif;
}

.cnt6-te {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 25%;
    font-size: 19px;
}

.prctg6 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 13%;
    left: 40px;
    font-size: 19px;
    font-family: Arvo, sans-serif;
}
.offre-services{
    background-image: url(/offre\ et\ services.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
    width: 100vw;
    display: block;

}
.square{
    height: 60px;
    width: 60px;
    background-color:#0091D4;
    position: relative;
    left: 50%;
    rotate: 46deg;  
    top: 710px;


}
.titre-offre h1{
   height: 140px;
   color: #FFFFFF;
   font-size: 50px;
   font-family: Metropolis, sans-serif; 
   font-weight: 500;
   text-align: center;
   
   
   
}
.offreimg-container {
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 50px;
   
}

.offreimg-container img{
    height: 490px;
    width: 400px;
    
}
.titre-r {
    text-align: center;
    position: relative;
    top: 130px;

}
.txt-r{
    text-align: center;
    position: relative;
    top: 170px;
}
.titre-r h1{
    font-size: 70px;
    font-family:'Inter', sans-serif;
    font-weight: 300;
    color: #043962;
}
.txt-r p{
    font-size: 20px;
    color: #043962;
}
.img-rn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:30px;
    position: relative;
    top: 200px;

}
.img-rn img{
   height: 500px;
}
.square2{
     height: 70px;
    width: 70px;
    background-color:#FFFFFF;
    position: absolute;
    rotate: 46deg;  
    left: 50%;
    top: 566px;
    z-index: 1;
     
}
.yellow-band-content{
    background-image: url(/video\ et\ photos/yellowband.png);
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    top: 300px;
    height: 300px;
}
.yellow-band-content img{
    height: 250px;
    position: relative;
    top: 30px;
    left: 300px;
}
.paragraph-yb{
    font-size: 35px;
    font-family: "Inter", sans serif;
    font-weight: 300;
    color: #043962;
    position: relative;
    left: 750px;
    bottom: 150px;
}
.btn1{
    background-color: #0693E3;
    color: #FFFFFF;
    padding: 20px;
    margin: 10px;
    border: #0693E3;
    cursor: pointer;
    letter-spacing:2px ;
    font-size: 19px;
    border-radius: 10px;
    position: relative;
    top: 20px;
    font-weight:200 ;
}
.sw{
     height: 1000px;
    width: 100%;
    background-color:transparent;
}
.Nos-agences{
    height: 1200px;
    width: 100%;
    background-color:#0091D4;
}
.titre-na h1{
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 50px;
    font-family: Inter;
    font-weight: 400;
    color:#FFFFFF;
}
.txt-na{
    position: relative;
    top: 150px;
    text-align: center;
    font-family: inter;
    font-size: 18px;
    color: #FFFFFF;
}
.maroc img{
   height: 700px;
   position: relative;
   top: 300px;
   left: 100px;
}
.maroc h1{
    position: relative;
    bottom: 300px;
    left: 900px;
    font-family: inter;
    color: #FFFFFF;
}
.maroc h3{
    position: relative;
    bottom: 260px;
    left: 900px;
    color: #FFFFFF;
    font-family: inter;   
    font-weight: 300;
}
.icons{
    position: relative;
    bottom: 324px;
    left: 870px;
}
.c1{
   
    position: relative;
    bottom: 550px;
    left: 600px;
    cursor: pointer;
    
}

.c3{
    position: relative;
    bottom: 580px;
    left: 450px;
    cursor: pointer;
}
.c4{
    position: relative;
    bottom: 600px;
    left: 430px;
    cursor: pointer;
}
.y1{
    position: relative;
    bottom: 625px;
    left: 600px;
    cursor: pointer;
    transition: 0.9s;
}
.y2{
    position: relative;
    bottom: 678px;
    left: 584px;
    transition: 0.4s;
    cursor: pointer;


}
.N{
    position: relative;
    bottom: 650px;
    left: 575px;
}
.N:hover::after{

  
  
}